body {
    margin: 0;
}

.icart-pg {
    padding: 0;
    margin: 0;
    overflow: hidden;
    overflow-y: scroll;
}

*,
::after,
::before {
    box-sizing: border-box;
}

.icart-pg .icart-pg-widget-title h4 {
    margin: 0;
}

.icart-pg input[type=checkbox], .icart-pg input[type=radio] {
    display: none;
    margin-right: 5px;
}

textarea::placeholder {
    color: #969495;
}

.icart-pg .icart-checkbox-label {
    margin-bottom: 0;
}

.icart-pg .icart-pg-container p, .icart-pg .icart-pg-container h4 {
    padding: 0;
    margin: 0;
}

.icart-pg .icart-pg-mb-5 {
    margin-bottom: 5px;
}

.icart-pg div, .icart-pg span, .icart-pg p, .icart-pg strong, .icart-pg b, .icart-pg h1, .icart-pg h2, .icart-pg h3, .icart-pg h4, .icart-pg h5, .icart-pg h6 {
    white-space: normal;
}

.icart-pg p, .icart-pg h4 {
    padding: 0;
    margin: 0;
}

.icart-pg {
    overflow-y: auto;
    overflow-x: hidden;
}

.icart-pg select:focus {
    outline: none;
}

.icart-pg .icart-content-title {
    padding: 8px 0;
    color: #333333;
    letter-spacing: inherit;
}

.icart-pg input[type="checkbox"] {
    display: none;
}

/* full cart custom css  start*/
.icart-pg button, .icart-pg input, .icart-pg select, .icart-pg textarea, .icart-pg h1, .icart-pg h2, .icart-pg h3, .icart-pg h4, .icart-pg h5, .icart-pg h6, .icart-pg .h1, .icart-pg .h2, .icart-pg .h3, .icart-pg .h4, .icart-pg .h5, .icart-pg .h6, .icart-pg label {
    font-size: 14px;
    color: #000;
    font-style: normal;
    font-weight: 400;
    letter-spacing: inherit;
    line-height: inherit;
    text-transform: inherit;
    margin: unset;
}

/* full cart custom css end*/
.icart-pg .icart-pg-checkout-checkbox .icart-checkbox-label input:checked ~ .icart-pg-checkmark {
    background-color: #000;
    border: 1px solid #000;
}

.icart-pg .icart-pg-checkout-checkbox .icart-checkbox-label .icart-pg-checkmark {
    position: relative;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: #fff;
    border: 1px solid #ccc;
}

.icart-checkbox-label {
    color: #000;
    font-size: 14px;
    line-height: 17px;
    display: flex !important;
    align-items: center;
    font-weight: 600;
    text-transform: none;
    letter-spacing: normal;
    position: relative;
    cursor: pointer;
}

.icart-pg .icart-pg-checkout-checkbox .icart-checkbox-label input:checked ~ .icart-pg-checkmark:after {
    display: block;
}

.icart-pg .icart-pg-checkout-checkbox .icart-checkbox-label .icart-pg-checkmark:after {
    left: 4px;
    top: 2px;
    width: 4px;
    height: 7px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.icart-pg .icart-pg-checkout-checkbox .icart-checkbox-label .icart-pg-checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.icart-pg .icart-pg-text-center {
    text-align: center;
}

.icart-pg .icart-pg-pr-10 {
    padding-right: 10px;
}

.icart-pg .icart-pg-pl-10 {
    padding-left: 10px;
}

.icart-pg .icart-pg-mr-5{
    margin-right: 5px;
}

.icart-pg .icart-pg-pt-5 {
    padding-top: 5px;
}

.icart-pg .icart-pg-mr-10 {
    margin-right: 10px;
}

.icart-pg .icart-pg-mt-20 {
    margin-top: 20px;
}

.icart-pg .icart-pg-pt-10 {
    padding-top: 10px;
}

.icart-pg .icart-pg-mb-10 {
    margin-bottom: 10px;
}

.icart-pg .icart-pg-flex {
    display: flex;
}

.icart-pg .icart-pg-mr-auto {
    margin: 0 auto;
}

.icart-pg .icart-pg-container .icart-pg-price .icart-pg-compare-price,
.icart-pg .icart-pg-container .icart-pg-price .icart-pg-product-price {
    display: inline-block;
}

.icart-pg .icart-pg-dis-input {
    width: 100%;
}

.icart-pg .icart-pg-container .icart-pg-checkout-text {
    flex: 1;
    justify-content: flex-start;
}

.icart-pg .icart-pg-checkout-widget input {
    outline: none;
}

.icart-pg .icart-pg-tag-list {
    padding: 0;
    margin-bottom: 0;
    margin-top: 16px;
}

.icart-pg .icart-pg-checkout-widget input {
    width: 100%;
    height: 35px;
    border: 1px solid #CCCCCC;
    box-sizing: border-box;
    border-radius: 2px 0 0 2px;
    padding: 6px 8px;
    margin-bottom: 0;
}

.icart-pg .icart-pg-apply-dis:after {
    display: none;
}

.icart-pg .icart-pg-checkout-widget .icart-pg-apply-dis {
    padding: 9px 16px;
    border-radius: 0 2px 2px 0;
    background: #333333;
    color: #fff;
    font-weight: 500;
    font-size: 14px;
    cursor: pointer;
    margin: 0;
    height: 35px;
    border: 1px solid #333333;
    text-transform: capitalize;
    letter-spacing: 0;
    line-height: 1;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 105px;
}

.icart-pg .icart-pg-checkout-checkbox {
    display: flex;
}

.icart-pg .icart-pg-cart-items-widget .icart-pg-reserve-time p {
    font-size: 18px;
    line-height: 21px;
    color: #333333;
    margin: 0;
    padding-bottom: 20px;
    font-weight: 700;
}


/*widget hover effect*/

.icart-pg .icart-pg-section-element {
    padding: 0;
}

.icart-pg .icart-pg-section-element:hover {
    cursor: pointer;
    outline: 2px solid #5c6ac4;
    outline-offset: -2px;
    z-index: 10;
}

.icart-pg .icart-pg-section-element:hover {
    position: relative
}

.icart-pg .icart-pg-section-element:hover:before {
    position: absolute;
    top: 0;
    left: 0;
    content: "Content";
    padding: 2px 6px;
    background-color: #5c6ac4;
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: .2px;
    z-index: 9
}


/*full cart cart item*/

.icart-pg .icart-pg-container {
    max-width: 1200px;
    width: 100%;
    padding: 60px 50px 80px 50px;
    margin-right: auto;
    margin-left: auto;
}

.icart-pg .icart-pg-cart-items-widget .icart-pg-items-list,
.icart-pg .icart-pg-cart-items-widget .icart-pg-cart-item,
.icart-pg .icart-pg-checkout-btn-widget .icart-pg-checkout-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.icart-pg .icart-pg-cart-items-widget .icart-pg-item-detail {
    align-items: center;
}

.icart-pg .icart-pg-cart-items-widget .icart-pg-remove a {
    color: rgba(255, 0, 0, 1);
    text-decoration: none;
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
}

.icart-pg .icart-pg-cart-items-widget:after,
.icart-pg .icart-pg-items-list:after,
.icart-pg .icart-pg-cart-item:after {
    clear: both;
}

.icart-pg .icart-pg-container .icart-pg-item-img span img {
    display: flex;
}

.icart-pg .icart-pg-container .icart-pg-item-img img, .icart-pg .icart-pg-recommendation-list-slider .icart-pg-product-upsell .icart-pg-item-img img {
    margin-right: 5px;
}


/* Column headers */

.icart-pg .icart-pg-cart-items-widget .icart-pg-items-list span {
    font-size: 20px;
    font-weight: 500;
}

.icart-pg .icart-pg-cart-items-widget .icart-pg-items-list span:nth-child(1) {
    font-size: 20px;
    font-weight: 500;
    flex: 0 0 8rem;
}

.icart-pg .icart-pg-cart-items-widget .icart-pg-items-list {
    border-bottom: 1px solid #CCCCCC;
    padding-bottom: 20px;
}

.icart-pg .icart-pg-cart-item {
    padding: 15px 0;
    border-bottom: 1px solid #CCCCCC;
    display: flex;
    align-items: center;
}

.icart-pg .icart-pg-item-img {
    display: flex;
    align-items: center;
    flex: 0 0 20rem;
}

.icart-pg .icart-pg-cart-items-widget .icart-pg-display-flex,
.icart-pg .icart-pg-checkout-btn-widget .icart-pg-display-flex {
    flex: 1;
}

.icart-pg .icart-pg-item-img img, .icart-pg .icart-pg-recommendation-list-slider .icart-pg-product-upsell .icart-pg-item-img img, .icart-pg .icart-pg-product-bundle-list-grid .icart-pg-item-img img {
    width: 120px;
    height: 120px;
    object-fit: contain;
}

.icart-pg .icart-pg .icart-pg-cart-item .icart-pg-item-image {
    text-align: center;
}

.icart-pg .cart-image img {
    width: 100px;
}

.icart-pg .icart-pg-item-detail .icart-pg-item-title {
    font-weight: 400;
    line-height: 21px;
    font-size: 18px;
}

.icart-pg .icart-pg-cart-item .icart-pg-delete-btn {
    padding: 4px 8px;
    background-color: #FFE9E8;
    color: #fff;
    font-size: 12px;
    border-radius: 3px;
    border: 1px solid #D82C0D;
    cursor: pointer;
    height: 40px;
    width: 40px;
}

.icart-pg .icart-pg-price {
    width: 100%;
}

.icart-pg .icart-pg-item-price .icart-pg-compare-price,
.icart-pg .icart-pg-checkout-widget .icart-pg-compare-price, .icart-pg .icart-pg-gift-grid .icart-pg-compare-price {
    font-weight: 400;
    color: #FD5B5B;
    text-decoration: line-through;
    font-size: 20px;
    margin-right: 5px;
    text-decoration-thickness: from-font;
}

.icart-pg .icart-pg-item-price .icart-pg-product-price {
    font-weight: 500;
    color: #333;
    font-size: 20px;
}

.icart-pg .icart-pg-checkout-widget .icart-pg-compare-price, .icart-pg .icart-pg-checkout-widget .icart-pg-product-price, .icart-pg .icart-pg-gift-grid .icart-pg-compare-price, .icart-pg .icart-pg-gift-grid .icart-pg-product-price {
    font-size: 17px;
}

.icart-pg .icart-pg-qty-box {
    display: flex;
    width: 120px;
    border-radius: 2px;
    overflow: hidden;
    height: 35px;
    justify-content: center;
}

.icart-pg .icart-pg-item-total .total-cart-price {
    font-weight: 700;
    color: #FF0000;
    font-size: 20px;
    line-height: 23px;
}

.icart-pg .icart-pg-qty-box input {
    width: 100%;
    text-align: center;
    border: 1px solid #909090;
    background: transparent;
    margin-bottom: 0;
    font-size: 15px;
    color: #909090;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icart-pg .icart-pg-qty-box input:nth-child(1) {
    border-radius: 2px 0 0 2px;
    border-right: 0;
    font-size: 22px;
    color: #909090;
    cursor: pointer;
}

.icart-pg .icart-pg-qty-box input:nth-child(2) {
    border: 1px solid #909090;
}

.icart-pg .icart-pg-qty-box input:nth-child(3) {
    border-radius: 0 2px 2px 0;
    border-left: 0;
    font-size: 20px;
    color: #909090;
    cursor: pointer;
}

.icart-pg .icart-pg-vendor-title {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    display: block;
    color: #969495;
}


/* Chrome, Safari, Edge, Opera */

.icart-pg .icart-pg-qty-box input::-webkit-outer-spin-button,
.icart-pg .icart-pg-qty-box input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.icart-pg .icart-pg-qty-box input:focus,
.icart-pg .icart-pg-qty-box input:hover {
    outline: none;
}

.icart-pg .remove-item-text-indent {
    text-indent: -999999px;
}


/* Firefox */

.icart-pg .icart-pg-qty-box input[type=number] {
    -moz-appearance: textfield;
}


/*select variants*/

.icart-pg .cart-variants {
    position: relative;
    width: 179px;
}

.icart-pg .icart-pg-qty-select-box {
    border-radius: 3px;
    border: 1px solid #d9d9d9;
    padding: 3px 35px 3px 10px;
    font-size: 13px;
    line-height: 14px;
    height: 35px;
    color: #4a4a4a;
    text-transform: capitalize;
    font-weight: 400;
    letter-spacing: normal;
    z-index: 30;
    margin: 0;
    -webkit-appearance: none;
    appearance: none;
    background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='21' height='19' viewBox='0 0 21 19'%3E%3Ctitle%3EArtboard 1%3C/title%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23000'%3E%3Cg%3E%3Cpath d='M0 0h1v19H0V0z' id='Shape' fill-opacity='.15'/%3E%3Cpath d='M11 8h10l-5 5-5-5z' fill-opacity='.5'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-repeat: no-repeat !important;
    background-position: right 10px center !important;
    background-color: #fff;
    cursor: pointer;
    background-size: 16px;
    width: 100%;
}

.icart-pg .icart-pg-add-btn {
    width: 106px;
    height: 40px;
    border-radius: 2px;
    background: #333333;
    color: #fff;
    border: 0;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 10px;
    line-height: 20px;
}

.icart-pg .icart-pg-widget-title {
    background: #F4F4F4;
    text-align: center;
    padding: 8px 0;
}

.icart-pg .icart-pg-widget-title span {
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #333;
}

.icart-pg .icart-pg-widget-content-pd {
    padding: 20px;
}
.icart-pg .icart-pg-progress-container .icart-pg-widget-content-pd {
    max-width: 768px;
    margin: 0 auto;
}
.icart-pg .icart-pg-progress-bar-widget .icart-pg-progressbar-1 .icart-pg-widget-content-pd {
    padding-bottom: 45px;
}

.icart-pg .icart-pg-progress-bar-widget .icart-pg-progressbar-2 .icart-pg-widget-content-pd {
    padding-bottom: 20px;
}

.icart-pg .icart-pg-cart-items-widget .icart-pg-widget-content-pd .icart-pg-cart-item:nth-child(3) {
    margin-bottom: 0;
}

.icart-pg .icart-pg-cart-items-widget .icart-pg-widget-content-pd .icart-pg-cart-item:nth-child(3) .icart-pg-item-price,
.icart-pg .icart-pg-checkout-btn-widget .icart-pg-widget-content-pd .icart-pg-item-price {
    flex: 1 50px;
}


/*full cart checkout*/

.icart-pg .icart-pg-checkout-widget .icart-pg-note-order, .icart-pg .icart-pg-gift-grid {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    width: 100%;
    column-gap: 25px;
}

.icart-pg .icart-pg-checkout-widget .icart-pg-checkout-btn-group, .icart-pg .icart-pg-flex {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;;
    column-gap: 20px;
}

.icart-pg .icart-pg-checkout-widget .icart-pg-add-note,
.icart-pg .icart-pg-checkout-widget .icart-pg-checkout, .icart-pg .icart-pg-shopping, .icart-pg .icart-pg-checkout-price, .icart-pg .icart-pg-gift-grid .icart-pg-checkout {
    width: 50%;
}

.icart-pg .icart-pg-checkout-widget .icart-pg-add-note-order,
.icart-pg .icart-pg-checkout-widget .icart-pg-checkout-close,
.icart-pg .icart-pg-checkout-widget .icart-pg-product-price,
.icart-pg .icart-pg-checkout-widget .icart-pg-terms-condition {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.icart-pg .icart-pg-checkout-widget .icart-pg-fullCart-title {
    font-weight: 500;
    font-size: 14px;
    color: #333333;
    line-height: 16px;
    font-style: normal;
}

.icart-pg .icart-pg-checkout-widget .icart-pg-note-textarea textarea {
    width: 100%;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    height: 86px;
    resize: none;
    text-align: left;
    padding: 8px 12px;
}

.icart-pg .icart-pg-checkout-widget .icart-pg-note-textarea textarea:focus {
    outline: none;
}

.icart-pg .icart-pg-checkout-widget .icart-pg-checkout-close {
    cursor: pointer;
}

.icart-pg .icart-pg-checkout-flex,
.icart-pg .icart-pg-checkout-text,
.icart-pg .icart-pg-discount-flex,
.icart-pg .icart-pg-subTotal-flex,
.icart-pg .icart-pg-main-tag {
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 1;
}

.icart-pg .icart-pg-checkout-widget .icart-pg-discount-code {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 20px;
}

.icart-pg .icart-pg-checkout-widget .icart-pg-dis-input-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icart-pg .icart-pg-checkout-widget .icart-pg-dis-select {
    width: 50%;
}
.icart-pg .icart-pg-checkout-widget .icart-pg-dis-input-box{
    width: 100%;
}
.icart-pg .icart-pg-checkout-widget .icart-pg-tag-list li {
    list-style: none;
    display: inline-block;
    margin-right: 11px;
    background: rgba(228, 229, 231, 1);
    padding: 5px 10px;
    font-size: 14px;
    border-radius: 3px;
    margin-bottom: 10px;
}

.icart-pg .icart-pg-checkout-widget .icart-pg-tag-close {
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
}

.icart-pg .icart-pg-checkout-widget .icart-pg-checkout-btn,
.icart-pg .icart-pg-checkout-widget .icart-pg-shopping-btn {
    border-radius: 2px;
    padding: 12px;
    width: 100%;
    background: #333333;
    color: #ffffff;
    border: 0;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}


/*checkout-btn-right*/
.icart-pg .icart-pg-checkout-widget .icart-pg-checkout-btn-group.icart-pg-right-left-btn{
    flex-direction: row-reverse;
}
/*checkout-btn-left*/
.icart-pg .icart-pg-checkout-widget .icart-pg-checkout-btn-group.icart-pg-left-right-btn{
    flex-direction: row;
}
/*checkout-btn-top*/
.icart-pg .icart-pg-checkout-widget .icart-pg-checkout-btn-group.icart-pg-top-bottom-btn,.icart-pg .icart-pg-shopping, .icart-pg .icart-pg-checkout-price {
    flex-direction: column;
    row-gap: 10px;
    width: 100%;
}
/*checkout-btn-bottom*/
.icart-pg .icart-pg-checkout-widget .icart-pg-checkout-btn-group.icart-pg-bottom-top-btn,.icart-pg .icart-pg-shopping, .icart-pg .icart-pg-checkout-price {
    flex-direction: column-reverse;
    row-gap: 10px;
    width: 100%;
}
/*progress bar*/

.icart-pg .icart-pg-progress-bar-widget .icart-pg-progress-container {
    max-width: 768px;
    margin: 0 auto;
}
.icart-pg .icart-special-offer-message {
    margin-bottom: 10px;
}
.icart-pg .icart-pg-progress-bar-widget .icart-special-offer-message p {
    margin-top: 0;
    margin-bottom: 10px;
}

.icart-pg .icart-pg-progress-bar-widget .icart-range-slider-block-trird {
    margin-bottom: 15px;
}

.icart-pg .icart-pg-progress-bar-widget .icart-pg-special-offer-message p {
    padding: 0;
    margin: 0;
    text-align: center;
}

/*cart-drawer progressbar 1*/
.icart-pg .icart-shipping-bar {
    position: relative;
    background-color: #089408;
    height: 10px;
    border-radius: 10px;
    overflow: hidden;
}

.icart-pg .icart-shipping-bar .icart-progress-range.complete {
    background-color: #29e429;
}

.icart-pg .icart-progress-range {
    top: 0;
    left: 0;
    width: 30%;
    height: 100%;
    background-color: #b7b7b7;
    transition: 1.5s;
}

.icart-pg .icart-product-single .icart-single-line {
    position: absolute;
    width: 2px;
    background: #fff;
    height: 10px;
    top: 0;
}

.icart-pg .icart-product-single .icart-shipping-bar .icart-single-line:last-child {
    display: none;
}

/*cart-drawer progressbar 2*/
.icart-pg .icart-range-slider-box .icart-range-slider-flex {
    width: 100%;
    position: relative;
}

.icart-pg .icart-flex {
    display: flex;
}

.icart-pg .icart-range-slider-box .icart-range-border-active.icart-range-active {
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: #f0d82a;
    border-radius: 10px;
    transition: 1.5s;
    z-index: 9;
}

.icart-pg .icart-range-slider-block .icart-controls-size {
    width: 100%;
    border-radius: 50px;
    position: relative;
    height: 20px;
}

.icart-pg .icart-range-slider-block .icart-range-slider-inner {
    position: absolute;
    width: 2px;
    z-index: 9;
}

.icart-pg .icart-range-slider-block .icart-range-slider-inner:before {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    content: "";
    height: 20px;
    border-right: 2px solid #fff;
    z-index: 9999999999;
}
.icart-pg .icart-range-slider-block .icart-range-slider .icart-range-slider-box .icart-range-slider-inner:last-child:before {
    border-right: none;
}
.icart-pg .icart-range-slider-block .icart-range-border-active.icart-range-active {
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: #f0d82a;
    border-radius: 10px;
    transition: 1.5s;
    z-index: 9;
}

.icart-pg .icart-range-slider-block .icart-range-slider-flex {
    width: 100%;
    position: relative;
}

.icart-pg .icart-range-slider-block .icart-range-label.icart-range-padding-0 {
    padding-bottom: 0;
}

.icart-pg .icart-range-slider-block .icart-range-label {
    padding: 10px 0;
}

.icart-pg .icart-range-slider-block .icart-controls-size-text {
    width: 100%;
    position: relative;
    height: 20px;
}

.icart-pg .icart-range-slider-block .icart-range-label .icart-range-title {
    text-align: center;
    font-weight: 600;
    position: absolute;
    width: auto;
}

.icart-pg .icart-fix-text {
    position: relative;
    left: -40px;
    min-width: 85px;
    max-width: 95px;
    text-align: center;
    line-height: 15px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: 14px;
}

.icart-pg .icart-range-slider-block .icart-range-label .icart-range-title:last-child .icart-fix-text {
    left: -60px;
    text-align: right;
    min-width: 60px;
}

.icart-pg .icart-range-slider-block .icart-range-border-active.icart-range-active:after {
    height: 22px;
    width: 22px;
    border: 2px solid #086da8;
    content: '';
    position: absolute;
    border-radius: 50px;
    right: -12px;
    top: -3%;
    background-color: #f0d82a;
}

.icart-pg .icartProgBarLayour1 .icart-range-active:after {
    background-color: #eb4f47;
    border: 2px solid #4a4a4a;
}

/*cart-drawer layout 3*/
.icart-pg .icart-range-slider-block-trird .icart-range-slider-flex-trird {
    width: 100%;
    position: relative;
}

.icart-pg .icart-range-slider-block-trird .icart-range-border-active-trird.icart-range-active-trird {
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: #f0d82a;
    border-radius: 0;
    transition: 1.5s;
    z-index: 9;
}

.icart-pg .icart-range-slider-block-trird .icart-range-slider-inner-trird {
    padding: 5px;
    background-color: #086da8;
    width: 100%;
    position: relative;
}

.icart-pg .icart-range-slider-block-trird .icart-range-slider-inner-trird:last-child:before {
    border-right: none;
}

.icart-pg .icart-range-slider-block-trird .icart-range-slider-inner-trird:before {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    content: "";
    height: 10px;
    z-index: 99999;
}

.icart-pg .icart-range-slider-block-trird .icart-range-label-trird {
    padding: 10px 0 0;
    position: relative;
}

.icart-pg .icart-range-slider-block-trird .icart-range-label-trird .icart-range-title-trird {
    font-size: 12px;
    text-align: right;
    font-weight: 600;
    width: 0;
    position: absolute;
}

.icart-pg .icart-trird-range:first-child {
    width: 0 !important;
    left: 0;
}

.icart-pg .icart-trird-range:first-child:before {
    right: -2px;
}

.icart-pg .icart-trird-range:before {
    content: "";
    position: absolute;
    height: 7px;
    width: 2px;
    background: #ccc;
    top: -10px;
    right: -1px;
}

.icart-pg .icart-trird-range:last-child, .icart-pg .icart-trird-range:last-child:before {
    right: 0;
}

.icart-pg .icart-range-slider-block-trird .icart-range-label-trird .icart-range-title-trird:last-child .icart-slider-3 {
    left: -60px;
    text-align: right;
    min-width: 60px;
}

.icart-pg .icart-range-title-trird .icart-slider-3 {
    position: relative;
    left: -40px;
    min-width: 85px;
    text-align: center;
    line-height: 15px;
    z-index: 9;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

/*==============product-upsell=================*/

.icart-pg .icart-pg-heading-text {
    font-size: 24px;
    font-weight: 500;
    font-style: normal;
    text-align: center;
    padding-bottom: 20px;
    color: #333333;
}

.icart-pg .icart-pg-time-zone {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 25px;
}

.icart-pg .icart-pg-count-down {
    color: white;
    font-size: 16px;
    font-weight: 700;
    display: grid;
    padding: 5px;
    margin-right: 5px;
    text-align: center;
    align-items: center;
    box-sizing: content-box;
    height: 40px;
    width: 40px;
    background-color: #333333;
    border-radius: 5px;
}

.icart-pg .icart-pg-count-down span:first-child {
    font-size: 16px;
}

.icart-pg .icart-pg-count-down span:last-child {
    font-size: 12px;
}

.icart-pg .icart-pg-product-upsell {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icart-pg .icart-pg-product-upsell-widget .icart-pg-item-img {
    display: flex;
    align-items: center;
    flex: 0 0 30rem;
}

.icart-pg .icart-pg-product-upsell-widget .icart-pg-product-img img {
    width: 120px;
    margin-right: 15px;
}

.icart-pg .icart-pg-border-bm-0 {
    border-bottom: 0;
}

.icart-pg .icart-pg-qty-add-cart {
    display: flex;
    flex-direction: column;
}

.icart-pg .icart-pg-pb-20 {
    padding-bottom: 20px;
    margin: auto;
}

.icart-pg .icart-pg-width-cart {
    width: 180px;
}


/* product recommandation */

.icart-pg .icart-pg-product-recommendation-widget .icart-pg-product-recom-slider-img img {
    width: 250px;
    height: 250px;
    object-fit: contain;
    margin: auto !important;
}

.icart-pg .icart-pg-product-recom-slider-img .slick-slide {
    padding: 10px 7px;
}

.icart-pg .icart-pg-product-recommendation-widget .icart-pg-item-detail .icart-pg-item-title {
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
}

.icart-pg .icart-pg-product-recommendation-widget .icart-pg-item-detail .icart-pg-item-qty {
    display: flex;
    justify-content: space-between;
    align-items: self-start;
    column-gap: 10px;
}

.icart-pg .icart-pg-product-recommendation-widget .icart-pg-item-detail .icart-pg-compare-price, .icart-pg .icart-pg-product-recommendation-widget .icart-pg-item-detail .icart-pg-product-price, .icart-pg .icart-pg-product-bundle-widget .icart-pg-compare-price, .icart-pg .icart-pg-product-bundle-widget .icart-pg-product-price {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
}

.icart-pg .icart-pg-product-recommendation-widget .icart-pg-item-detail .icart-pg-add-btn {
    width: 100%;
}

.icart-pg .icart-pg-product-recommendation-widget .icart-pg-item-detail .icart-pg-item-price {
    clear: both;
}

.icart-pg .icart-pg-product-recommendation-widget .icart-pg-item-detail {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.icart-pg .icart-pg-product-recommendation-widget .icart-pg-variants {
    width: 100%;
}

.icart-pg .icart-pg-rounded-img img {
    border-radius: 50%;
}

.icart-pg .icart-pg-checkout-gift svg, .icart-pg .icart-pg-checkout-gift img {
    width: 20px;
}

.icart-pg .icart-svg-label-icon {
    width: 20px;
    height: 20px;
    margin-right: 8px;
}

/*product bundle*/
.icart-pg .icart-pg-product-bundle-widget .icart-pg-bundle-content, .icart-pg .icart-pg-product-bundle-widget .icart-pg-add-bundle {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icart-pg .icart-pg-product-bundle-widget .icaqrt-pg-inner-bundle .icart-pg-bundle-img img {
    width: 320px;
    height: 320px;
    object-fit: contain;
}

.icart-pg .icart-pg-product-bundle-widget .icaqrt-pg-inner-bundle .icart-pg-bundle-img {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.icart-pg .icart-pg-product-bundle-widget .icart-pg-qty-select-box {
    width: 160px;
    height: 30px;
}

.icart-pg .icart-pg-product-bundle-widget .icart-pg-incart-label {
    position: absolute;
    z-index: 1;
    line-height: inherit;
    left: 0;
    top: 0;
}

.icart-pg .icart-pg-product-bundle-widget .icart-pg-incart-label label {
    margin-bottom: 0;
    padding: 3px 16px;
    color: #fff;
    background-color: #333333;
    font-weight: 700;
    line-height: 18px;
    font-size: 10px;
    max-width: 80px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.icart-pg .icart-pg-check-bundle-label input[type=checkbox] {
    visibility: hidden;
}

.icart-pg .icart-pg-product-bundle-widget .icart-pg-check-bundle-label label {
    border: 1px solid #66bb6a;
    border-radius: 50%;
    cursor: pointer;
    height: 20px;
    right: 0;
    position: absolute;
    top: 0;
    width: 20px;
    background-color: #66bb6a;
}

.icart-pg .icart-pg-check-bundle-label input[type=checkbox]:checked + label:after {
    opacity: 1;
}

.icart-pg .icart-pg-check-bundle-label label:after {
    border: 2px solid #fff;
    border-top: none;
    border-right: none;
    border-right: none;
    content: "";
    height: 6px;
    left: 4px;
    opacity: 0;
    position: absolute;
    top: 5px;
    transform: rotate(-45deg);
    width: 10px;
}

.icart-pg .icart-pg-bundle-content .icaqrt-pg-inner-bundle .icart-pg-bundle-img:after {
    content: "+" !important;
    position: absolute;
    right: -35px;
    border-radius: 50%;
    padding: 4px;
    z-index: 1;
    color: #333;
    font-size: 41px;
    line-height: normal;
    font-weight: 900;
    height: 20px;
    width: 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-family: unset !important;
}

.icart-pg .icart-pg-bundle-content .product-pg-bundle-box {
    position: relative;
}

.icart-pg .icart-pg-bundle-content .product-pg-bundle-box:last-child .icart-pg-bundle-img:after {
    visibility: hidden;
}

.icart-pg .icart-pg-bundle-content.icart-pg-bundle-grid-2 {
    justify-content: center;
}

.icart-pg .icart-pg-bundle-content.icart-pg-bundle-grid-2 .product-pg-bundle-box:first-child {
    margin-right: 45px;
}

.icart-pg .icart-pg-qty-select-box {
    width: 142px;
    height: 28px;
}

.icart-pg .icart-pg-product-bundle-widget .icart-pg-add-bundle-grid{
    width: 100%;
}
.icart-pg .icart-pg-product-bundle-widget .icart-pg-add-bundle{
    column-gap: 50px;
    margin-top: 20px;
}
.icart-pg .icart-pg-product-bundle-widget .icart-pg-product-bundle-list-grid .icart-pg-add-bundle{
    margin-top: 0;
}
.icart-pg .icart-pg-add-bundle .icart-pg-qty-box{
    margin: unset;
}
.icart-pg .icart-pg-add-bundle .icart-pg-bundle-total-price span:nth-child(2) span{
    display: inline-block;
}
.icart-pg .icart-pg-add-bundle .icart-pg-bundle-total-price span{
    font-size: 14px;
}
.icart-pg .icart-pg-add-bundle .icart-pg-bundle-total-price span:first-child{
    display: block;
}
.icart-pg .icart-pg-add-bundle .icart-pg-bundle-total-price .icart-pg-bundle-total-text{
    color: #ff0000;
}

.icart-pg .icart-pg-checkout-block{
    position: relative;
}
.icart-pg .icart-pg-checkout-btn-widget .icart-pg-gift-grid{
    position: absolute;
}
.icart-pg .icart-pg-checkout-btn-widget .icart-pg-gift-grid .icart-pg-checkout-flex{
    padding-left: 12px;
    margin-bottom: 0;
}
.icart-pg .icart-pg-checkout-btn-widget .icart-pg-note-order .icart-pg-checkout{
    padding-top: 35px;
}
.icart-pg .icart-pg-add-bundle .icart-pg-add-btn{
    height: 40px;
    padding: 2px 15px;
}
.icart-pg .icart-pg-add-bundle .icart-pg-add-btn p:first-child{
    font-size: 12px;
    line-height: 1.6;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.icart-pg .icart-pg-add-bundle .icart-pg-add-btn p:last-child{
    font-size: 12px;
    line-height: 0.9;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}


/*bundle list view*/
.icart-pg .icart-pg-product-bundle-widget .icart-list-bundle .icart-pg-item-img{
    flex: 1 0 30rem;
}
.icart-pg .icart-pg-product-bundle-list-grid{
    max-width: 665px;
    margin: 20px auto 0;
    row-gap: 30px;
    flex-direction: column;
    display: flex;
}
.icart-pg .product-pg-bundle-box{
    position: relative;
}
.icart-pg .icart-pg-product-bundle-list-grid .product-pg-bundle-box:nth-child(3) .icart-list-bundle:after, .icart-pg .icart-pg-product-bundle-list-grid.icart-pg-list-grid-2 .product-pg-bundle-box:nth-child(2) .icart-list-bundle:after{
    display: none;
}
.icart-pg .icart-pg-product-bundle-list-grid .product-pg-bundle-box .icart-list-bundle:after {
    content: "+" !important;
    position: absolute;
    bottom: -25px;
    border-radius: 50%;
    padding: 4px;
    z-index: 1;
    color: #333;
    font-size: 35px;
    line-height: normal;
    font-weight: 900;
    height: 20px;
    width: 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-family: unset !important;
}
.icart-pg .icart-pg-bundle-blur-grid, .icart-pg .icart-pg-bundle-blur-list{
    filter: blur(2px);
    position: relative;
    display: inline-block;
}
/*============Discount============*/
.icart-pg .icart-section-element:hover {
    cursor: pointer;
    outline: 2px solid #5c6ac4;
    outline-offset: -2px;
    z-index: 10;
}
.icart-pg .icart-section-element:hover {
    position: relative;
}
.icart-pg .icart-section-element {
    padding: 0;
}
.icart-pg .icart-section-element:hover:before {
    position: absolute;
    top: 0;
    left: 0;
    content: "Content";
    padding: 2px 6px;
    background-color: #5c6ac4;
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: .2px;
    z-index: 9;
}
.icart-pg .icart-content-title {
    padding: 0 15px;
    background-color: #EBEBEB;
    display: block;
}
.icart-pg .icart-content-title h4 {
    color: #333;
    margin: 0;
    line-height: 2;
    font-weight: 500;
    font-size: 20px;
    text-align: center;
}
.icart-pg .icart-main h4, .icart .icart-main p {
    padding: 0;
}
.icart-pg .icart-discount-block h2 {
    margin: 0;
    color: #333333;
    font-weight: 500;
    padding-bottom: 20px;
    text-align: center;
}
.icart-pg .icart-pall-comman {
    padding: 20px;
    background-color: #FFFFFF;
}
.icart-pg .icart-all-upsellu {
    display: inline-block;
    width: 100%;

}
.icart-pg .icart-setting-main-item-top {
    margin: 0 auto;
    max-width: 455px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}
.icart-pg .icart-main .icart-content .icart-product-upsell .icart-items {
    width: 100%;
}
.icart-pg .icart-setting-main-item-top .icart-setting-left, .icart-pg .icart-setting-main-item-top .icart-setting-right {
    display: inline-flex;
    align-items: center;
    line-height: normal;
    justify-content: space-between;
}
.icart-pg .icart-block-ok {
    width: 100%;
}
.icart-pg .icart-main-ok {
    display: flex;
}
.icart-pg .icart-item-timer .icart-main-ok {
    margin: 8px 0;
    flex: 0 0 10rem;
}
.icart-pg .icart-product-timer {
    display: grid;
    padding: 5px;
    margin-right: 5px;
    text-align: center;
    align-items: center;
    box-sizing: content-box;
    height: 40px;
    width: 40px;
    border-radius: 5px;
    background-color: #333333;
}
.icart-pg .icart-count-hr {
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
}
.icart-pg .icart-timer-text {
    font-size: 12px;
    line-height: normal;
    color: #FFFFFF;
}
.icart-pg .icart-text-setting-ok {
    padding: 0 5px;
}
.icart-pg .icart-btn-large {
    padding: 7px 5px 7px;
    font-weight: 400;
    width: 160px;
    white-space: nowrap;
    min-width: 70px;
    border-radius: 4px;
    font-size: 16px;
    background-color: #333333;
    color: #ffffff;
    border-color: #333333;
}
.icart-pg .icart-product-timer-text p {
    text-align: center;
}
.icart-pg .icart-discount-button {
    text-align: center;
    padding-top: 20px;

}
/*icart setting right*/
.icart-pg .icart-setting-main-item-top .icart-setting-right .icart-main-ok {
    order: 1;
}
.icart-pg .icart-setting-main-item-top .icart-setting-right .icart-product-timer-text {
    order: 0;
}
/*icart setting left*/
.icart-pg .icart-setting-main-item-top .icart-setting-left .icart-main-ok {
    order: 0;
}
.icart-pg .icart-setting-main-item-top .icart-setting-left .icart-product-timer-text {
    order: 1;
}
/*icart setting bottom*/
.icart-pg .icart-setting-main-item-top .icart-block-ok.icart-setting-bottom {
    flex-direction: column;
    display: flex;
}
.icart-pg .icart-setting-main-item-top .icart-setting-bottom .icart-main-ok {
    order: 1;
    justify-content: center;
    margin-top: 20px;
}
.icart-pg .icart-setting-main-item-top .icart-setting-bottom .icart-product-timer-text {
    order: 0;
}
/*icart setting top*/
.icart-pg .icart-setting-main-item-top .icart-block-ok.icart-setting-top {
    flex-direction: column;
    display: flex;
}
.icart-pg .icart-setting-main-item-top .icart-setting-top .icart-main-ok {
    order: 0;
    justify-content: center;
    margin-bottom: 20px;
}
.icart-pg .icart-setting-main-item-top .icart-setting-top .icart-product-timer-text {
    order: 1;
}
/*=========Birthday===========*/
.icart-pg .icart-main p {
    margin: 0;
    text-align: center;
}
.icart-pg .icart-birthday-title {
    padding-bottom:10px;
    line-height: 25px;
}
.icart-pg .icart-form{
    position: relative;
}
.icart-pg .icart-birthday-input{
    width: 100%;
}
.icart-pg .input-group{
    position: relative;
    display: table;
    border-collapse: separate;
}
.icart-pg .icart-datepicker-birthday{
    padding: 6px 10px;
    width: 100%;
    border: 1px solid #d9d9d9;
    background-color: #ffffff;
    color: #808080;
    line-height: 23.8px;
}
.icart-pg .icart input{
    line-height: inherit;
}
.icart-pg .input-group.date .input-group-addon{
    cursor: pointer;
}
.icart-pg .input-group-addon svg{
    height: 20px;
    position: absolute;
    right: 8px;
    top: 8px;
    z-index: 1;
    display: table-cell;
    fill: #3A3A3A;
}
.icart-pg .icart-birthday-btns{
    padding-top: 20px;
}
.icart-pg .icart-birthday-submit-btn{
    width: 100%;
}
.icart-pg .icart-birthdate-section{
    padding-top: 20px;
}
/* survey */
/*survey-layout-1*/
.icart-pg .icart-text-center{
    text-align: center;
}
.icart-pg .icart-survey-title h3{
    margin: 0;
    padding: 20px 0 7px;
    color: #555;
    font-size: 16px;
}
.icart-pg .icart-full-width{
    width: 100%;
}
.icart-pg .icart-survey-textarea{
    min-height: 60px;
    height: 60px;
    border: 1px solid #d9d9d9;
    padding: 8px 15px;
    resize: none;

}
.icart-pg .icart-survey-box-content{
    padding-top: 10px;
    justify-content: center;
    align-items: center;
}
/*survey-layout-2*/
.icart-pg .icart-radio-label, .icart-pg .icart-checkbox-new{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.icart-pg .icart-checkbox-new input[type=checkbox], .icart-pg .icart-radio-label input[type=radio]{
    margin-right: 8px;
    margin-top: 0;
    display:inline-block;
}
.icart-pg .icart-field-email-phone{
    display: flex;
    justify-content: center;
}
/*survey-layout-3*/
.icart-pg .icart-selectbox{
    background-color: #fff;
    color: grey;
    border-radius: 2px;
    border: 1px solid #d9d9d9;
    display: block;
    -webkit-box-sizing: border-box;
    width: 100%;
    padding: 7px 10px 7px 10px;
    font-size: 12px!important;
    -webkit-appearance: none;
    background-position: right 2% center!important;
    background-image:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='21' height='19' viewBox='0 0 21 19'%3E%3Ctitle%3EArtboard 1%3C/title%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23000'%3E%3Cg%3E%3Cpath d='M0 0h1v19H0V0z' id='Shape' fill-opacity='.15'/%3E%3Cpath d='M11 8h10l-5 5-5-5z' fill-opacity='.5'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E")!important;
    background-repeat: no-repeat!important;
    cursor: pointer;
    background-size: 16px;
    margin: 0!important;
}

/* image-with-text*/
.icart-pg .icart-lrtb{
    display: inline-block;
    width: 100%;
}
.icart-pg .icart-lrtb img{
    max-width: 245px;
    object-fit: cover;
    padding-right: 5px;
}
.icart-pg .icart-lrtb p{
    margin: 0;
}
.icart-pg .icart-max-width{
    max-width: 100%!important;
}
.icart-pg .icart-lrtb[align=bottom] {
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
}
.icart-pg .icart-lrtb img[align=center]{
    padding-bottom:15px;
}
.icart-pg .icart-lrtb[align=right]{
    text-align: left;
}
.icart-pg .icart-lrtb[align=bottom] img{
    padding-top: 15px;
}
/*custom html*/
.icart-pg .icart-content-box__row p{
    font-size: 18px;
    text-align: justify;
    color: #000;
}
/*custom css*/
.icart-pg .icart-pg-dynamic-pd-br{
    border: 0;
    padding: 0;
}
.icart-pg .icart-add-coupon-code svg {
    transform: rotate(45deg);
}
.icart-pg .icart-close-coupon-code svg {
    transform: rotate(0deg);
}
/*media query*/

@media (max-width: 767px) {
    .icart-pg .icart-pg-container {
        width: 100%;
        padding-right: 0;
        padding-left: 0;
        margin-right: auto;
        margin-left: auto;
    }

    .icart-pg .icart-pg-section-element {
        padding: 0;
    }

    .icart-pg .icart-pg-cart-items-widget .icart-pg-reserve-time p {
        padding-bottom: 10px;
    }

    .icart-pg .icart-pg-widget-title span {
        font-size: 14px;
    }

    .icart-pg .icart-pg-cart-items-widget .icart-pg-cart-item,
    .icart-pg .icart-pg-checkout-widget .icart-pg-note-order,
    .icart-pg .icart-pg-checkout-btn-widget .icart-pg-checkout-item,
    .icart-pg .icart-pg-product-upsell-widget .icart-pg-item-img,
    .icart-pg .icart-pg-product-upsell, .icart-pg .icart-pg-recommendation-list-slider .icart-pg-product-upsell .icart-pg-item-img, .icart-pg .icart-pg-product-bundle-widget .icart-list-bundle .icart-pg-item-img  {
        position: relative;
        display: flex;
        align-items: center;
        padding: 0;
        flex-wrap: nowrap;
        justify-content: space-between;
        border: 0;
        flex: unset;
    }
    .icart-pg .icart-pg-product-bundle-widget .icart-pg-product-bundle-list-grid .icart-list-bundle .icart-pg-item-img{
        position: unset;
    }
    .icart-pg .icart-pg-cart-items-widget .icart-pg-item-img,
    .icart .icart-pg-cart-items-widget .icart-pg-item-img img,
    .icart-pg .icart-pg-cart-items-widget .icart-pg-item-title {
        margin: 0;
    }

    .icart-pg .icart-pg-cart-items-widget .icart-pg-items-list {
        display: none;
    }

    .icart-pg .icart-pg-cart-items-widget .icart-pg-item-detail {
        text-align: center;
    }

    .icart-pg .icart-pg-cart-items-widget .icart-pg-item-img {
        float: unset;
        width: auto;
    }

    .icart-pg .icart-pg-container .icart-pg-cart-item {
        padding: 10px 0;
    }

    .icart-pg .icart-pg-container .icart-pg-cart-item:nth-child(3) {
        padding-bottom: 0;
    }

    .icart-pg .icart-pg-cart-items-widget .icart-pg-price,
    .icart-pg .icart-pg-cart-items-widget .icart-pg-item-total {
        width: unset;
    }

    .icart-pg .icart-pg-cart-items-widget .icart-pg-item-price,
    .icart-pg .icart-pg-cart-items-widget .icart-pg-cart-item .icart-pg-item-detail,
    .icart-pg .icart-pg-cart-items-widget .icart-pg-item-width-100 .icart-pg-item-total,
    .icart-pg .icart-pg-cart-items-widget .icart-pg-item-total .icart-pg-add-btn,
    .icart-pg .icart-pg-checkout-widget .icart-pg-add-note,
    .icart-pg .icart-pg-checkout-widget .icart-pg-checkout {
        width: 100%;
    }

    .icart-pg .icart-pg-cart-items-widget .icart-pg-item-qty {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 100%;
        text-align: center;
    }

    .icart-pg .icart-pg-cart-items-widget .icart-pg-item-detail {
        text-align: left;
    }

    .icart-pg .icart-pg-cart-items-widget .icart-pg-item-detail {
        float: none;
        width: 100%;
        margin-top: 0;
    }

    .icart-pg .icart-pg-container .icart-pg-item-title {
        /*margin-bottom: 9px;*/
        font-size: 14px;
    }

    .icart-pg .icart-pg-vendor-title,
    .icart-pg .icart-pg-item-price .icart-pg-compare-price,
    .icart-pg .icart-pg-checkout-widget .icart-pg-compare-price,
    .icart-pg .icart-pg-container .icart-pg-product-price, .icart-pg .icart-pg-gift-grid .icart-pg-compare-price {
        font-size: 13px;
    }

    .icart-pg .icart-pg-mb-pt-2 {
        padding-top: 2px;
    }

    .icart-pg .icart-pg-mb-pt-4 {
        padding-top: 4px;
    }

    .icart-pg .icart-pg-vendor .icart-pg-mb-pb-2 {
        padding-bottom: 0;
    }

    .icart-pg .icart-pg-cart-items-widget .icart-pg-mb-18 {
        margin-bottom: 18px;
    }

    .icart-pg .icart-pg-checkout-widget .icart-pg-checkout-btn-group {
        flex-direction: column;
        row-gap: 15px;
    }

    .icart-pg .icart-pg-cart-items-widget .icart-pg-item-mobile-p,
    .icart-pg .icart-pg-cart-items-widget .icart-pg-item-mobile-qty,
    .icart-pg .icart-pg-cart-items-widget .icart-pg-item-mobile-total {
        font-size: 16px;
        font-weight: 400;
    }

    .icart-pg .icart-pg-cart-items-widget .cart-variants {
        width: 155px;
        margin: 0 auto 8px auto;
    }

    .icart-pg .icart-pg-mt-18 {
        margin-top: 18px;
    }

    .icart-pg .icart-pg-mob-mb-15 {
        margin-bottom: 15px;
    }

    .icart-pg .icart-pg-item-img {
        flex: unset;
        align-items: center;
    }

    .icart-pg .icart-pg-item-img img, .icart-pg .icart-pg-recommendation-list-slider .icart-pg-product-upsell .icart-pg-item-img img, .icart-pg .icart-pg-product-bundle-list-grid .icart-pg-item-img img  {
        width: 70px;
        height: 70px;
        object-fit: contain;
    }

    .icart-pg .icart-pg-container .icart-pg-item-img img {
        margin-right: 5px;
    }

    .icart-pg .icart-pg-cart-items-widget .icart-pg-widget-content-pd .icart-pg-cart-item .icart-pg-item-price {
        flex: unset;
    }

    .icart-pg .icart-pg-cart-items-widget .icart-pg-item-total,
    .icart-pg .icart-pg-cart-items-widget .icart-pg-desktop-display,
    .icart-pg .icart-pg-checkout-btn-widget .icart-pg-desktop-display {
        display: none;
    }

    .icart-pg .icart-pg-qty-box {
        width: 75px;
        border-radius: 0;
    }

    .icart-pg .icart-pg-qty-box input {
        font-size: 12px;
        border-radius: 0;
    }

    .icart-pg .icart-pg-qty-box input:nth-child(1) {
        font-size: 17px;
        border-radius: 0;
    }

    .icart-pg .icart-pg-qty-box input:nth-child(3) {
        font-size: 17px;
        border-radius: 0;
    }

    .icart-pg .icart-pg-cart-items-widget .icart-pg-mobile-display .btn-remove {
        font-size: 10px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 1px;
    }
    .icart-pg .icart-pg-qty-select-box {
        width: 142px;
        height: 28px;
    }
    .icart-pg .icart-pg-add-btn {
        width: 74px;
        height: 35px;
        border-radius: 0;
        font-size: 12px;
        line-height: 0;
    }

    .icart-pg .icart-pg-checkout-widget .icart-pg-apply-dis {
        padding: 9px 21px;
        border-radius: 0;
        height: 100%;
        line-height: 0;
    }

    .icart-pg .icart-pg-checkout-widget .icart-pg-dis-input input {
        height: 35px;
        border-radius: 0;
    }

    .icart-pg .icart-pg-checkout-widget .icart-pg-discount-code,
    .icart-pg .icart-pg-checkout-widget .icart-pg-note-order {
        flex-direction: column;
        row-gap: 12px;
    }

    .icart-pg .icart-pg-checkout-widget .icart-pg-dis-input-box,
    .icart-pg .icart-pg-checkout-widget .icart-pg-dis-select,
    .icart-pg .icart-pg-checkout-widget .icart-pg-add-note,
    .icart-pg .icart-pg-checkout-widget .icart-pg-checkout, .icart-pg .icart-pg-product-bundle-widget .icart-pg-variants select, .icart-pg .icart-pg-checkout-widget .icart-pg-shopping, .icart-pg .icart-pg-checkout-widget .icart-pg-checkout-price, .icart-pg .icart-pg-gift-grid .icart-pg-checkout, .icart-pg .icart-pg-product-bundle-widget .icart-pg-add-btn {
        width: 100%;
    }

    .icart-pg .icart-pg-checkout-widget .icart-pg-dis-select .icart-pg-qty-select-box {
        width: 100%;
        height: 35px;
        border-radius: 0;
        font-size: 12px;
    }

    .icart-pg .icart-pg-mob-pt-0 {
        padding-top: 0;
    }

    .icart-pg .icart-pg-mob-pt-3 {
        padding-top: 3px;
    }

    .icart-pg .icart-pg-mb-mt-13 {
        margin-top: 13px;
    }

    .icart-pg .icart-pg-mb-mt-12 {
        margin-top: 12px;
    }

    .icart-pg .icart-pg-mb-pb-5 {
        padding-bottom: 5px;
    }

    .icart-pg .icart-pg-product-upsell-widget .icart-pg-add-cart-btn {
        display: flex;
        justify-content: center;
    }

    .icart-pg .icart-pg-heading-text {
        font-size: 20px;
    }

    .icart-pg .icart-pg-count-down {
        width: 50px;
        height: 50px;
        font-size: 16px;
    }

    .icart-pg .icart-pg-checkout-widget .icart-pg-compare-price {
        margin-right: 5px;
    }

    .icart-pg .icart-pg-mb-pr-5 {
        padding-right: 5px;
    }

    .icart-pg .icart-pg-mb-pl-5 {
        padding-left: 5px;
    }

    .icart-pg .icart-pg-mb-mr-5 {
        margin-right: 5px;
    }

    .icart-pg .icart-pg-product-bundle-widget .icaqrt-pg-inner-bundle .icart-pg-bundle-img img {
        width: 90px;
        height: 90px;
        object-fit: contain;
    }

    .icart-pg .icart-pg-product-bundle-widget .icaqrt-pg-inner-bundle {
        text-align: center;
    }

    .icart-pg .icart-pg-product-bundle-widget .icart-pg-bundle-content {
        column-gap: 15px;
    }

    .icart-pg .icart-pg-product-bundle-widget .icart-pg-incart-label label {
        padding: 0 6px;
    }

    .icart-pg .icart-pg-product-bundle-widget .icart-pg-incart-label {
        left: -2px;
        top: -7px;
    }

    .icart-pg .icart-pg-bundle-content .icart-pg-item-price span {
        display: block;
    }

    .icart-pg .icart-pg-bundle-content .icaqrt-pg-inner-bundle:after {
        top: 37px;
        right: -17px;
        font-size: 28px;
    }

    .icart-pg .icart-pg-bundle-content .icaqrt-pg-inner-bundle .icart-pg-bundle-img:after {
        right: -17px;
    }

    .icart-pg .icart-pg-add-bundle .icart-pg-bundle-total-price span {
        font-size: 12px;
    }

    .icart-pg .icart-pg-product-bundle-widget .icart-pg-add-bundle {
        column-gap: 15px;
    }

    .icart-pg .icart-pg-checkout-btn-widget .icart-pg-gift-grid {
        position: unset;
    }

    .icart-pg .icart-pg-checkout-btn-widget .icart-pg-gift-grid .icart-pg-checkout-flex {
        padding-left: unset;
    }

    /*after disount widget */
    .icart-pg .icart-discount-block h2 span, .icart-pg .icart-product-timer-text p:first-child span {
        font-size: 20px;
    }

    .icart-pg .icart-product-timer-text p:last-child span {
        font-size: 20px;
    }

    .icart-pg .icart-content-box__row p {
        font-size: 12px;
    }

    .icart-pg .icart-pg-product-bundle-widget .icart-pg-add-bundle-grid {
        text-align: center;
    }

    .icart-pg .icart-pg-product-bundle-widget .icart-pg-check-bundle-label label {
        right: 8px;
        top: 0;
    }
    .icart-pg .icart-pg-add-bundle .icart-pg-qty-box {
        margin: 0 auto;
    }
    .icart-pg .icart-pg-gift-grid .icart-pg-checkout{
        border-top: 1px solid #d9d9d9;
        padding-top: 15px;
    }
    .icart-pg .icart-pg-checkout-btn-widget .icart-pg-note-order .icart-pg-checkout {
        padding-top: 0;
    }
    .icart-pg .icart-pg-product-upsell-widget .icart-pg-product-upsell, .icart-pg .icart-pg-checkout-btn-widget .icart-pg-checkout-item, .icart-pg .icart-pg-product-recommendation-widget .icart-pg-product-upsell, .icart-pg .icart-pg-product-bundle-widget .icart-list-bundle{
        column-gap: 40px;
    }
    .icart-pg .icart-pg-product-bundle-list-grid .icart-list-bundle{
        justify-content: center;
    }
    .icart-pg .icart-pg-product-bundle-widget .icart-pg-product-bundle-list-grid .icart-pg-incart-label{
        top: 7px;
    }
    .icart-pg .icart-pg-product-bundle-list-grid .product-pg-bundle-box .icart-list-bundle:after{
        font-size: 35px;
    }
    .icart-pg .icart-pg-product-recommendation-widget .icart-pg-item-detail{
        text-align: center;
    }
    .icart-pg .icart-btn-large{
        width: 100%;
        border-radius: 0;

    }
    .icart-pg .icart-pg-product-recommendation-widget .icart-pg-product-recom-slider-img img{
        width: 140px;
        height: 140px;
    }
    .icart-pg .icart-pg-product-recommendation-widget .icart-pg-item-detail .icart-pg-item-qty{
        flex-direction: column-reverse;
    }
    .icart-pg .icart-pg-product-recommendation-widget .icart-pg-qty-box{
        margin: 0 auto 7px;
    }
    .icart-pg .icart-pg-product-recommendation-widget .icart-pg-qty-box, .icart-pg .icart-pg-product-recommendation-widget .icart-pg-qty-select-box{
        height: 30px;
    }
    .icart-pg .icart-pg-product-recommendation-widget .icart-pg-item-price .icart-pg-compare-price, .icart-pg .icart-pg-product-recommendation-widget .icart-pg-item-price .icart-pg-product-price{
        font-size: 12px;
    }
}

@media (max-width: 320px) {
    .icart-pg .icart-pg-add-btn {
        width: 70px;
        height: 33px;
        border-radius: 0;
        font-size: 11px;
    }
    .icart-pg .icart-pg-product-bundle-widget .icart-pg-add-btn{
        width: 70px;
    }
    .icart-pg .icart-pg-qty-select-box {
        width: 99px;
        height: 28px;
    }

    .icart-pg .icart-pg-product-bundle-widget .icaqrt-pg-inner-bundle .icart-pg-bundle-img img {
        width: 70px;
        height: 70px;
        object-fit: contain;
    }

    .icart-pg .icart-pg-bundle-content .product-pg-bundle-box .icart-pg-bundle-img:after {
        right: -17px;
        font-size: 25px;
    }

    /*after disount widget */
    .icart-pg .icart-lrtb img {
        max-width: 175px;
    }

    .icart-pg .icart-pg-product-bundle-widget .icart-pg-check-bundle-label label {
        right: 0;
        top: 8px;
    }
    .icart-pg .icart-pg-product-recommendation-widget .icart-pg-product-recom-slider-img img{
        width: 125px;
        height: 125px;
    }
    .icart-pg .icart-pg-product-upsell-widget .icart-pg-product-upsell, .icart-pg .icart-pg-checkout-btn-widget .icart-pg-checkout-item, .icart-pg .icart-pg-product-recommendation-widget .icart-pg-product-upsell, .icart-pg .icart-pg-product-bundle-widget .icart-list-bundle {
        column-gap: 20px;
    }
    .icart-pg .icart-pg-product-bundle-widget .icart-pg-product-bundle-list-grid .icart-pg-incart-label{
        top: 8px;
    }
}

@media (min-width: 768px) {
    .icart-pg .icart-pg-mobile-display {
        display: none;
    }

    .icart .icart-pg-cart-items-widget .icart-pg-item-total {
        display: block;
    }

    .icart-pg .icart-pg-product-bundle-widget .icart-pg-bundle-content  .icart-pg-add-btn, .icart-pg .icart-pg-product-bundle-grid .icart-pg-add-btn, .icart-pg .icart-pg-add-bundle .icart-pg-add-btn {
        width: 100%;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .icart-pg .icart-pg-container {
        padding: 0;
    }

    .icart-pg .icart-pg-cart-items-widget .icart-pg-widget-content-pd .icart-pg-cart-item .icart-pg-item-price,
    .icart-pg .icart-pg-item-img {
        flex: 1;
    }

    .icart-pg .icart-pg-cart-items-widget .icart-pg-item-detail .icart-pg-item-title {
        font-size: 15px;
    }

    .icart-pg .icart-pg-container .icart-pg-qty-box {
        width: 95px;
        height: 31px;
        font-size: 11px;
        border-radius: 0;
    }

    .icart-pg .icart-pg-item-img img {
        width: 70px;
    }

    .icart-pg .icart-pg-cart-items-widget .icart-pg-item-total .total-cart-price {
        font-size: 18px;
    }

    .icart-pg .icart-pg-item-price .icart-pg-compare-price,
    .icart-pg .icart-pg-checkout-widget .icart-pg-compare-price,
    .icart-pg .icart-pg-item-price .icart-pg-product-price {
        font-size: 15px;
    }

    .icart-pg .icart-pg-cart-items-widget .icart-pg-add-btn {
        width: 88px;
        height: 38px;
        border-radius: 0;
    }

    .icart-pg .icart-pg-qty-select-box {
        width: 114px;
        height: 31px;
        margin-right: 14px;
        font-size: 11px;
    }

    .icart-pg .icart-pg-mb-pt-2 {
        padding-top: 2px;
    }

    .icart-pg .icart-pg-mb-pt-4 {
        padding-top: 4px;
    }

    .icart-pg .icart-pg-vendor .icart-pg-mb-pb-2 {
        padding-bottom: 2px;
    }

    .icart-pg .icart-pg-container .icart-pg-qty-box input {
        font-size: 12px;
        border-radius: 0;
        width: 100%;
    }

    .icart-pg .icart-pg-container .icart-pg-qty-box input:nth-child(1) {
        font-size: 22px;
        border-radius: 0;
        width: 100%;
    }

    .icart-pg .icart-pg-container .icart-pg-qty-box input:nth-child(3) {
        font-size: 20px;
        border-radius: 0;
        width: 100%;
    }

    .icart-pg .icart-pg-checkout-widget .icart-pg-dis-input input {
        padding: 5px 8px;
        font-size: 12px;
        height: 35px;
    }

    .icart-pg .icart-pg-cart-items-widget .icart-pg-widget-content-pd .icart-pg-cart-item:nth-child(3) .icart-pg-item-price,
    .icart-pg .icart-pg-checkout-btn-widget .icart-pg-widget-content-pd .icart-pg-item-price {
        flex: 1 40px;
    }

    .icart-pg .icart-pg-checkout-widget .icart-pg-apply-dis {
        padding: 10px;
        font-size: 12px;
    }

    .icart-pg .icart-pg-checkout-widget .icart-pg-dis-select .icart-pg-qty-select-box {
        height: 35px;
        width: 100%;
    }

    .icart-pg .icart-pg-checkout-widget .icart-pg-discount-code {
        column-gap: 12px;
    }

    .icart-pg .icart-pg-container .icart-pg-cart-items-widget .icart-pg-items-list span {
        font-size: 17px;
    }

    .icart-pg .icart-pg-container .icart-pg-cart-items-widget .icart-pg-item-img {
        flex: 1.4;
    }

    .icart-pg .icart-pg-container .icart-pg-cart-items-widget .icart-pg-tab-flex {
        flex: 1.8;
    }

    .icart-pg .icart-pg-product-recommendation-widget .icart-pg-item-detail .icart-pg-variants select {
        height: 35px;
        width: 100%;
        font-size: 12px;
        margin-right: 0;
    }

    .icart-pg .icart-pg-product-recommendation-widget .icart-pg-item-detail .icart-pg-item-qty {
        column-gap: 5px;
    }

    .icart-pg .icart-pg-product-upsell-widget .icart-pg-item-img {
        flex: 0 0 23rem;
    }

    .icart-pg .icart-pg-width-cart {
        width: 136px;
    }

    .icart-pg .icart-pg-product-bundle-widget .icart-pg-bundle-content {
        column-gap: 20px;
    }

    .icart-pg .icart-pg-product-bundle-widget .icaqrt-pg-inner-bundle .icart-pg-bundle-img img {
        width: 215px;
        height: 215px;
        object-fit: contain;
    }

    .icart-pg .icart-pg-bundle-content .product-pg-bundle-box .icart-pg-bundle-img:after {
        right: -30px;
        font-size: 35px;
    }
    .icart-pg .icart-pg-product-recommendation-widget .icart-pg-product-recom-slider-img img{
        width: 210px;
        height: 210px;
    }
}

@media (min-width: 1024px) and (max-width: 1200px) {
    .icart-pg .icart-pg-product-recommendation-widget .icart-pg-item-detail .icart-pg-variants select {
        font-size: 10px;
    }

    .icart-pg .icart-pg-product-bundle-widget .icaqrt-pg-inner-bundle .icart-pg-bundle-img img {
        width: 260px;
        height: 260px;
        object-fit: contain;
    }

    .icart-pg .icart-pg-product-bundle-widget .icart-pg-bundle-content {
        column-gap: 30px;
    }

    .icart-pg .icart-pg-bundle-content .product-pg-bundle-box .icart-pg-bundle-img:after {
        right: -28px;
        font-size: 36px;
    }
    .icart-pg .icart-pg-product-recommendation-widget .icart-pg-product-recom-slider-img img {
        width: 200px;
        height: 200px;
    }
}


